<h1>Executing Web Services</h1>

<br/>
<div style="margin: 0 3em">
  <h3>So, you found a nice service - now you are wondering how to execute it?</h3>

  <p>There are many ways ways of executing Web services and there is no simple way of telling which one is the best in your case. This depends on:
    <ul>
        <li>The type of the service (SOAP, REST etc.)</li>
        <li>The way you want to execute the service (in a browser, inside special GUI application clients (such as SoapUI or Mac SOAP Client), inside a program or in pipelining system, etc.)</li>
    </ul>
  </p>

  <p>One way to access both SOAP and REST Web services is from the workflow/pipeline system
    <a href="http://wiki.opf-labs.org/display/SP/PT.WP4.MS38+Basic+Taverna+Workbench+available+for+testbed+use" target="_blank">Taverna.</a>
    Taverna provides a graphical programming environment for connecting together various services, not just SOAP and REST.
  </p>
</div>